.auth-page-container {
    height: 100vh;
    background-image: url('../../assets/images/login-signup-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  .auth-content {
     z-index: 2;
  }
  