@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    font-family: "Poppins";
    /* width: 100%; */
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo img{
    height: auto;
    width: 100%;

}
.nav-items-list{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item{
    margin-left: 30px;
    font-size: 16px;
    line-height: 27px;
    color: white;
    font-weight: 700;
}
.nav-item:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #FFFA80 100%, #EEBD23 100%,#FFFF6F 100%, #DAB110 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

button{
    margin-left: 50px;
    width: 110px;
    height: 42px;
    background: linear-gradient(180deg, #CF8A08 100%, #BF7901 100% ,#FFEC53 100% , #DBAB1C 100%);
    color:white;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-weight: 700;
}
